p{
    text-align: center;
    font-size:60px;
}

table{
    border-collapse:collapse;
    border-spacing:0;
    user-select: none;
    display: none;
}
tbody{
    position: relative;
    /* display: none; */
}
table td{
    border:1px solid #000;
    width:100px;
    height:100px;
    font-size:60px;
    text-align: center;
}

#start{
    text-align: center;
}

input {
    border: 2px solid #000;
    border-radius: 0;
    background: #fff;
    width: 150px;
    height: 70px;
    font-size: 25px;
    transition: 0.5s;
}
  
input:hover {
    color: #fff;
    background: #000;
}
